{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Réinitialiser le mot de passe</h1>
                </div>
                <div class="card-body">
                    <form method="POST" class="form-group">
                        <label for="password">Nouveau mot de passe:</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                        <button type="submit" class="btn btn-primary my-2">Réinitialiser le mot de passe</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}