<!-- app/templates/admin/dashboard.html -->

{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <h2>Tableau de Bord Administrateur</h2>
    <h3>Utilisateurs</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
    <h3>Tâches</h3>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} - {{ task.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}
